<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <h2>You must login now, pal</h2>

        <a href="/login">This is where you do it</a>

    </body>
</html>
